/* src/app/page.module.css */

@import url(https://fonts.googleapis.com/css?family=Open+Sans:800);

.container {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.world {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.instructions {
  position: absolute;
  width: 100%;
  top: 50%;
  margin: auto;
  margin-top: 50px;
  font-family: "Open Sans", sans-serif;
  color: #1d0f03;
  font-size: 0.9em;
  text-transform: uppercase;
  text-align: center;
}

.lightInstructions {
  color: #000000;
  font-size: 0.8em;
}

.credits {
  position: absolute;
  width: 100%;
  margin: auto;
  bottom: 0;
  margin-bottom: 200px;
  font-family: "Open Sans", sans-serif;
  color: #b59b63;
  font-size: 2em;
  text-transform: uppercase;
  text-align: center;
}

.credits a {
  color: #130d1f;
}
